html,body
{
  margin: 0px;
  padding: 0px;

}
.main
{
  position: absolute;
  z-index: 0;
  top: 0px;
  left: 0px;
}
.Player
{
  position: absolute;
  z-index: 1;
  top: 0px;
  left: 0px;
}
.Enemy
{
  position: absolute;
  z-index: 3;
  top: 0px;
  left: 0px;
}
